@media screen and (min-width: 1230px) {
    .template {
        &__test {
            padding-bottom: 0;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translate3d(0, -50%, 0);
        }
    }
}

@media screen and (max-width: 1229px) {
    .template {
        &__test {
            padding-bottom: 160px;
        }
    }

    .about-video {
        right: calc((100% - 960px)/2 - 60px);
    }

    .home-template {
        &__wrapper {
            overflow: hidden;
        }
    }

    .course-list-item {
        @include flex(column, flex-start);
        padding: 0;
        &__img {
            margin: 0 auto;
            padding: 0;
            width: 100%;
            margin-bottom: 10px;
            & img {
                max-width: none;
                max-height: none;
                width: 100%;
            }
        }
        &__info {
            @include flex(column, flex-start, flex-start);
            padding: 0;
            border-bottom: none;
        }
        &__select {
            display: none;
            width: 100%;
            margin: 0;
            font-size: 1.5rem;
        }
        &__meta {
            @include flex(column, stretch);
            margin: 0;
            margin-left: 0;
            width: 100%;
            &-item {
                &:nth-child(n) {
                    @include flex();
                    width: 100%;
                    margin-bottom: 5px;
                }
                &:last-child {
                    margin-bottom: 0;
                    justify-content: flex-start;
                }
            }
            &-value {
                position: relative;
                color: $dark;
                @include font-weight('normal');
                &::before {
                    content: attr(data-title);
                }
            }
            &-price {
                @include font-weight('medium');
                & sup {
                    font-size: 1.5rem;
                    line-height: 1.33;
                    left: auto;
                    top: auto;
                    margin-left: 3px;
                }
            }
            &-inner {
                color: $dark;
            }
        }
        &__title {
            font-size: 2rem;
            @include font-weight('extra');
            letter-spacing: -.3px;
            margin-bottom: 10px;
            line-height: 1.3;
            max-width: none;
        }
    }

    .course-list {
        &__row {
            padding: 20px;
            width: 50%;
        }
        &__footer {
            margin-top: 20px;
            padding: 0;
        }
        &__grid {
            border-radius: 0;
            background: transparent;
            box-shadow: none;
        }
        &__wrapper {
            @include flex(row, flex-start, flex-start, wrap);
            background: $white;
            border-radius: 5px;
            box-shadow: 0 20px 20px 0 rgba(65, 1, 121, 0.05), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
        }
        &__header {
            margin-bottom: 2px;
            padding-bottom: 13px;
        }
    }

    .tabs {
        overflow-x: auto;
        &__btn {
            width: auto;
        }
    }

    .certificate {
        &__text {
            font-size: 2.3rem;
        }
    }

    .advantages {
        &__item {
            flex-direction: column;
        }
        &__img {
            margin: 0 auto;
            margin-bottom: 8px;
        }
        &__name {
            text-align: center;
        }
    }

    .portfolio-item {
        &__name {
            &::before {
                content: none;
            }
        }
    }

    .contact-page {
        &__info-item {
            font-size: 2rem;
        }
    }

    .course-gallery {
        &__btn-next {
            left: auto;
            right: calc((100% - 960px)/2);
        }
        &__btn-prev {
            right: auto;
            left: calc((100% - 960px)/2);
        }
    }

    .dropdown-course-info {
        &__name {
            font-size: 1.2rem;
            color: $gray-200;
            line-height: 1.25;
            margin-bottom: 5px;
        }
        &__value {
            color: $dark;
            line-height: 1.25;
        }
    }

    .info {
        width: auto;
        height: auto;
        &__icon {
            display: none;
            & path, circle {
                pointer-events: none;
            }
        }
        &__content {
            @include flex(row, center);
            position: relative;
            bottom: auto;
            left: auto;
            transform: none;
            box-shadow: none;
            padding: 0;
            border-radius: 0;
            opacity: 1;
            &-value {
                margin-right: 5px;
                color: $gray-200;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .icon {
        &-ruble {
            &_color {
                &-dark {
                    &::after {
                        background: icon('ums-icon-ruble-gray.svg') no-repeat 50%;
                    }
                }
            }
        }
        &-dollar {
            &_color {
                &-dark {
                    &::after {
                        background: icon('ums-icon-dollar-gray.svg') no-repeat 50%;
                    }
                }
            }
        }
    }

    .page-navigation {
        flex-direction: row;
        &__link {
            margin: 0;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .pages-template {
        &__navigation {
            margin-bottom: 30px;
        }
    }

    .blog-template {
        &__sort-navigation {
            margin-bottom: 30px;
        }
    }

    .sort-navigation {
        padding-bottom: 15px;
        overflow-x: auto;
        &_direction {
            &-vertical {
                flex-direction: row;
                & .sort-navigation {
                    &__button {
                        margin: 0;
                        margin-right: 10px;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
        &__button {
            margin: 0;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .test {
        &__img {
            right: 25%;
        }
    }
    .m-options {
        &__menu {
            &-btn {
                position: fixed;
            }
        }
        &__phone {
            &-link {
                &_m {
                    &-right {
                        margin-right: 50px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .section {
        &__title {
            margin-bottom: 20px;
        }
        &__note {
            font-size: 1.5rem;
            line-height: 1.3;
            max-width: 270px;
            margin: 0 auto;
        }
    }
    .calculation {
        &__section {
            margin-bottom: 45px;
            &-title {
                font-size: 2rem;
                line-height: 1.5;
                letter-spacing: -.03rem;
                margin-bottom: 15px;
            }
        }
    }

    .certificates-page {
        &__calculation {
            margin-top: 45px;
        }
        &__desc {
            & p {
                font-size: 1.6rem;
            }
        }
        &__img {
            margin-top: 20px;
        }
    }

    .event-modal {
        &__title {
            font-size: 3rem;
            padding-right: 65px;
        }
        &__desc {
            font-size: 1.6rem;
            padding-right: 115px;
        }
        &__details {
            &-item {
                font-size: 1.6rem;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .home-template {
        &__wrapper {
            padding-top: 90px;
        }
        &__header {
            margin-bottom: 290px;
        }
        &__title {
            max-width: 500px;
        }
        &__certificate {
            padding-bottom: 105px;
        }
        &__testimonials {
            padding: 110px 0;
            padding-bottom: 60px;
        }
    }

    .title {
        font-size: 3.5rem;
    }

    .about {
        overflow: hidden;
        &-course {
            padding-top: 100px;
            padding-bottom: 90px;
            &__title {
                margin: 0;
                margin-bottom: 60px;
                text-align: center;
            }
            &__video {
                height: 210px;
                max-width: none;
                &-img {
                    max-width: 235px;
                    margin-left: -117.5px;
                }
            }
            &__author {
                font-size: 1.2rem;
                line-height: 1.3;
                margin-top: 8px;
            }
            &__info {
                margin-top: 25px;
            }
            &__play-btn {
                top: 10px;
                left: 15px;
            }
        }
        &-video {
            top: 275px;
            text-align: center;
            &__link {
                display: inline-block;
                position: relative;
                width: 100%;
                max-width: 320px;
            }
        }
        &-page {
            &__grid {
                padding-top: 30px;
            }
        }
    }

    .header {
        &__select {
            display: none;
        }
        &__phone-number {
            &_style {
                &-dark {
                    color: $white;
                    & span {
                        color: rgba($white, .7);
                        &:hover {
                            color: rgba($white, .9);
                        }
                    }
                }
            }
        }
    }

    .template {
        &__advantages {
            margin-top: 65px;
        }
        &__breadcrumbs {
            margin-bottom: 15px;
        }
    }

    .advantages {
        &__col {
            margin-bottom: 20px;
        }
        &__name {
            max-width: 160px;
            text-align: center;
        }
        &__img {
            width: 80px;
            height: 80px;
        }
        &__item {
            padding-left: 0;
        }
    }

    .certificate {
        &__text {
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            margin: 0 auto;
            margin-top: 15px;
            letter-spacing: .01em;
            font-size: 1.7rem;
            line-height: 1.47;
            text-align: center;
        }
    }

    .portfolio {
        padding-top: 40px;
        &__item {
            height: 40vw;
        }
    }

    .portfolio-item {
        &__meta {
            padding: 30px 15px;
        }
        &__name {
            font-size: 2rem;
        }
    }

    .we {
        padding-top: 100px;
    }

    .footer {
        background: image('ums-footer.svg') no-repeat 50% / cover;
        &__top {
            padding: 50px 0;
        }
        &__bottom {
            padding: 0;
            padding-bottom: 45px;
            text-align: center;
            border-top: none;
        }
        &__text {
            text-align: center;
        }
        &__link {
            margin: 0;
            margin-bottom: 20px;
        }
        &__logo {
            display: block;
            margin: 0 auto;
            text-align: center;
            & img {
                display: inline-block;
                width: 190px;
            }
        }
        &__social {
            justify-content: center;
            margin-top: 20px;
            padding-bottom: 45px;
            border-bottom: 1px solid rgba($white, .15);
            & .social {
                &__link {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background-color: rgba($white, .15);
                    margin-right: 10px;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
        &__testimonials {
            margin-top: 0;
        }
        &__info {
            padding-top: 40px;
            &-link {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
            &-links {
                margin-bottom: 40px;
            }
            & img {
                width: 100%;
                max-width: 400px;
                margin: 0 auto;
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &-menu {
            @include flex(column, center);
            padding: 55px 0;
            &__item {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            &__col {
                align-items: center;
                margin: 0;
                margin-bottom: 50px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .company-info {
        max-width: 330px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .google-testimonials {
        max-width: none;
        width: 100%;
    }

    .testimonial-item {
        &__text {
            & p {
                letter-spacing: .01em;
                font-size: 1.7rem;
                line-height: 1.47;
            }
        }
        &__play {
            &-btn {
                left: auto;
                right: 15px;
            }
        }
        &__info {
            padding-top: 55px;
            padding-bottom: 0;
        }
        &__link {
            font-size: 1.5rem;
            margin-top: 12px;
            line-height: 1.3;
        }
        &__img {
            max-width: 450px;
            margin: 0 auto;
        }
        &__col {
            width: 100%;
        }
    }

    .play-button {
        &__icon {
            width: 60px;
            height: 60px;
            & svg {
                max-width: 16.8px;
                left: 4px;
            }
        }
        &__name {
            margin-top: 5px;
        }
    }

    .testimonials {
        &__btn {
            top: 215px;
            margin: 0;
            z-index: 1;
            &-prev {
                right: auto;
                left: 0;
            }
            &-next {
                right: 0;
                left: auto;
            }
        }
        &__option {
            justify-content: center;
            width: 100%;
            left: 0;
            bottom: auto;
            top: 480px;
            z-index: 0;
        }
        &__item {
            flex-direction: column;
        }
        &__pagination {
            margin: 0;
        }
        &__wrapper {
            padding-bottom: 55px;
        }
        &__quote-icon {
            display: none;
        }
        &__social-links {
            max-width: calc(100% - 30px);
        }
    }

    .social-testimonials {
        @include flex(column, center);
        padding: 30px;
        padding-bottom: 40px;
        height: auto;
        position: relative;
        &__name {
            font-size: 1.5rem;
            line-height: 1.3;
            text-align: center;
            margin-bottom: 15px;
        }
        &__link {
            margin: 0;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border: 15px solid transparent;
            border-bottom-color: $white;
            top: -30px;
            left: 50%;
            margin-left: -7.5px;
        }
    }

    .we {
        &__btn {
            display: none;
        }
    }

    .menu {
        &__link {
            color: $white;
            &[aria-current="page"] {
                color: rgba($white, .3);
                cursor: default;
                pointer-events: none;
                &::before {
                    content: none;
                }
            }
        }
    }

    .pages-template {
        padding-bottom: 100px;
        &__grid {
            padding-top: 15px;
        }
    }

    .contact-page {
        padding-bottom: 0;
        &__map {
            height: 520px;
        }
        &__info {
            padding-bottom: 60px;
            &-item {
                font-size: 1.7rem;
                line-height: 1.47;
                letter-spacing: 0;
                margin-bottom: 20px;
                @include font-weight('medium');
                & span {
                    font-size: 1.2rem;
                    letter-spacing: 0;
                    line-height: 1.25;
                    @include font-weight('normal');
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        &__social-link {
            width: 40px;
            height: 40px;
            & svg {
                width: 40px;
                height: 40px;
            }
        }
        &__text {
            margin-top: 35px;
        }
    }

    .form {
        &__group {
            flex-direction: column;
            align-items: stretch;
        }
        &__input {
            &_width {
                &-m {
                    width: 100%;
                    margin-bottom: 20px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &__select {
            & select {
                padding-right: 35px;
            }
            &::after {
                right: 5px;
            }
        }
        &__textarea-btn {
            margin-top: 25px;
        }
    }

    .modal {
        padding: 20px;
        padding-bottom: 30px;
        & a.close-modal {
            width: 30px;
            height: 30px;
        }
        &__title {
            font-size: 1.7rem;
            line-height: 1.47;
            @include font-weight('extra');
            letter-spacing: -.04em;
        }
        &__social-link {
            width: 30px;
            height: 30px;
            & svg {
                width: 30px;
                height: 30px;
            }
        }
        &__process {
            margin-top: 50px;
        }
    }
    
    .category-template {
        &__wrapper {
            padding-top: 80px;
            padding-bottom: 110px;
            overflow: hidden;
        }
    }

    .help-section {
        padding: 100px 0;
        padding-top: 60px;
        &__title {
            margin-bottom: 15px;
        }
        &__checkbox {
            margin-top: 20px;
        }
    }

    .checkbox {
        &__name {
            text-align: left;
        }
    }

    .help-form {
        flex-direction: column;
        align-items: stretch;
        &__input {
            margin: 0;
            margin-bottom: 20px;
            max-width: none;
        }
    }

    .payment-form {
        &__section {
            margin-bottom: 45px;
            &-name {
                font-size: 2rem;
                line-height: 1.5;
                letter-spacing: -.03rem;
                margin-bottom: 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .payment-item {
        width: 100%;
        &:nth-child(n) {
            margin: 0;
            margin-bottom: 10px;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &__name {
            height: 100px;
            padding: 0 50px;
        }
    }

    .erip {
        &__code {
            display: none;
        }
        &__info {
            margin-left: 0;
        }
    }

    .webpay-form {
        &__sale-checkbox {
            & .checkbox {
                &__name {
                    font-size: 1.5rem;
                    line-height: 1.33;
                }
            }
        }
        &__payment {
            &-level {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__note {
            margin-top: 20px;
        }
        &__radio {
            margin: 0;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .payment-section {
        margin: 0;
    }

    .course-template {
        &__wrapper {
            @include flex(column, stretch);
            padding-bottom: 0;
            padding-top: 74px;
            &::after {
                bottom: 0;
            }
        }
        &__certificate {
            padding-bottom: 100px;
        }
    }

    .course-info {
        &__item {
            flex-direction: column;
            align-items: flex-start;
            &-name {
                text-align: left;
            }
            &-value {
                margin: 0;
                font-size: 1.7rem;
                line-height: 1.25;
                @include font-weight('normal');
                margin-top: 5px;
            }
            &-btn {
                font-size: 1.2rem;
            }
            &-wrapper {
                margin-left: 0;
            }
            &-price {
                margin: 0;
            }
        }
        &__select {
            & select {
                font-size: 1.7rem;
            }
        }
        &__options {
            margin-top: 35px;
            flex-direction: column;
        }
    }

    .course-btn {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }

    .student-info {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        margin: 0 auto;
        margin-top: 35px;
        width: 100%;
        max-width: 275px;
        &__img {
            max-width: 100%;
        }
        &__text {
            max-width: 85px;
            top: 20%;
            left: auto;
            right: -15px;
            &::before {
                content: none;
            }
        }
        &__name {
            font-size: 1.5rem;
            text-align: center;
            @include font-weight('medium');
            line-height: 1.3;
            & span {
                font-size: 1.2rem;
                @include font-weight('normal');
                line-height: 1.25;
            }
        }
    }

    .for-whom {
        margin-top: 65px;
        padding-top: 50px;
        &__title {
            flex-direction: column-reverse;
            align-items: center;
            margin-bottom: 30px;
            text-align: center;
        }
        &__title {
            & svg {
                margin: 0;
                margin-bottom: 12px;
            }
        }
        &__icon {
            width: 80px;
            height: 80px;
            &_position {
                &-1 {
                    & img {
                        max-width: 50px;
                        max-height: 30px;
                    }
                }
                &-2 {
                    & img {
                        max-width: 35px;
                        max-height: 39px;
                    }
                }
                &-3 {
                    & img {
                        max-width: 48px;
                        max-height: 36px;
                        position: relative;
                        top: -3px;
                        right: -3px;
                    }
                }
                &-4 {
                    & img {
                        position: relative;
                        top: 5px;
                        max-width: 54px;
                    }
                }
            }
        }
        &__name {
            line-height: 1.33;
            font-size: 1.5rem;
            margin: 0;
            margin-top: 8px;
        }
        &__item {
            margin-bottom: 25px;
        }
    }

    .program {
        padding: 100px 0;
        padding-bottom: 50px;
        &__title {
            margin-bottom: 30px;
        }
        &__figure {
            height: 480px;
        }
    }

    .content-list {
        border-radius: 0;
        background: transparent;
        box-shadow: none;
        &__title {
            font-size: 1.8rem;
            line-height: 1.33;
            &::after {
                width: 20px;
                height: 20px;
                margin-top: -10px;
            }
        }
        &__item {
            padding: 15px 20px;
        }
        &__wrapper {
            background: $white;
            border-radius: 5px;
            box-shadow: 0 5px 40px 0 rgba(65, 1, 121, 0.05), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
        }
        &__more-btn {
            width: 100%;
            color: $white;
            background: linear-gradient(180deg, #33AAFF 0%, #8B24B7 127.5%);
            border-radius: 5px;
            height: 4rem;
            padding: 0;
            font-size: 1.7rem;
            &::after {
                content: none;
            }
        }
    }

    .process {
        padding-bottom: 50px;
        &__name {
            font-size: 1.7rem;
        }
        &__text {
            font-size: 1.2rem;
            line-height: 1.33;
            margin-top: 0;
        }
        &__title {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            margin-bottom: 30px;
            & svg {
                margin: 0;
                margin-bottom: 12px;
            }
        }
        &__item {
            margin-bottom: 20px;
        }
    }

    .results {
        padding: 100px 0;
        &__title {
            text-align: center;
            margin-bottom: 40px;
        }
        &__col {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .faq {
        padding: 100px 0;
        &__title {
            text-align: center;
            margin-bottom: 30px;
        }
        &__video {
            margin-bottom: 20px;
        }
        &__footer {
            margin-top: 5px;
        }
    }

    .lecturer-modal {
        &__img {
            @include flex(row, center, flex-start, wrap);
            width: 100%;
            & img {
                width: 60px;
                height: 60px;
            }
        }
        &__social {
            width: 100%;
            justify-content: flex-start;
            margin-top: 15px;
            &-note {
                text-align: left;
            }
        }
        &__title {
            margin-left: 10px;
            margin-bottom: 0;
            max-width: 135px;
        }
        &__grid {
            align-items: center;
        }
        &__text {
            margin-top: 15px;
        }
    }

    .free-start-modal {
        padding-top: 40px;
        &__title {
            font-weight: normal;
        }
    }

    .order-process {
        &__title {
            margin-bottom: 15px;
        }
    }

    .map-modal {
        padding: 0;
        height: 100vw;
        max-height: calc(100% - 100px);
    }

    .video-modal {
        padding: 0;
        height: 100vw;
        max-height: calc(100% - 100px);
    }

    .course-gallery {
        &__btn {
            &-next {
                right: calc((100% - 720px)/2);
            }
            &-prev {
                left: calc((100% - 720px)/2);
            }
        }
    }

    .dropdown-course-info {
        &__item {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
                display: block;
                margin-top: 30px;
            }
        }
        &__btn {
            height: 4rem;
        }
    }

    .f-lecturers-page__grid {
        padding-top: 30px;
    }

    .success-payment-page {
        padding-bottom: 0;
        &__info-title {
            position: relative;
            margin-bottom: 20px;
            bottom: auto;
        }
    }

    .blog-section__title {
        margin-bottom: 0;
    }

    .blog-item__title {
        font-size: 1.7rem;
        line-height: 1.47;
    }

    .single-template {
        &__content {
            & p {
                font-size: 1.6rem;
                line-height: 1.55;
            }
            & a {
                font-size: 1.6rem;
                line-height: 1.55;
            }
            & ul, ol {
                & li {
                    font-size: 1.6rem;
                    line-height: 1.55;
                }
            }
            & h2, h3, h4, h5, h6 {
                margin: 20px 0;
                margin-top: 35px;
            }
            & h2 {
                font-size: 3.2rem;
            }
            & h3 {
                font-size: 2.8rem;
            }
            & h4, h5, h6 {
                font-size: 2.5rem;
            }
        }
    }

    .post-item {
        &__img {
            max-width: 350px;
        }
        &__title {
            font-size: 2.3rem;
        }
    }

    .ajax-lecturer-modal {
        & .lecturer-modal {
            &__grid {
                flex-direction: column;
                align-items: flex-start;
            }
        }
    }

    .test-form {
        &__section {
            &-title {
                font-size: 2.3rem;
            }
        }
    }
    .tabs {
        &__btn {
            margin-right: 5px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .btn {
        &_theme {
            &-pink {
                height: 45px;
                font-weight: 500;
                line-height: 44px;
                font-size: 1.5rem;
            }
        }
    }
    .breadcrumbs {
        & span {
            &[typeof="ListItem"] {
                & span {
                    &.current-item {
                        white-space: nowrap;
                        overflow: hidden;
                        display: inline-block;
                        max-width: 120px;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }

    .we {
        &__btn {
            &-prev {
                right: auto;
                left: 0;
            }
            &-next {
                left: auto;
                right: 0;
            }
        }
        &-item {
            &__img {
                max-width: 140px;
            }
            &__desc {
                max-width: 330px;
                margin: 0 auto;
                text-align: center;
            }
            &__title {
                margin-top: 10px;
                font-size: 1.7rem;
                @include font-weight('extra');
                letter-spacing: -.4px;
                line-height: 1.47;
            }
        }
    }

    .home-template {
        &__title {
            max-width: 380px;
        }
    }

    .title {
        font-size: 2.8rem;
    }

    .course-list {
        &__row {
            width: 100%;
        }
    }

    .course-list-item {
        &__meta {
            &-item {
                font-size: 0;
            }
        }
        &__title {
            &-value {
                border-color: $primary-200;
            }
        }
    }

    .contact-page {
        &__map {
            height: 420px;
        }
    }

    .course-gallery {
        &__btn {
            &-next {
                right: calc((100% - 540px)/2);
            }
            &-prev {
                left: calc((100% - 540px)/2);
            }
        }
    }

    .form {
        &__list {
            @include flex(column, flex-start);
        }
        &__select {
            &_state {
                &-active {
                    height: auto;
                }
            }
        }
    }

    .no-template {
        &__text {
            font-size: 1.7rem;
            line-height: 1.25;
            & a {
                font-size: 1.7rem;
                line-height: 1.25;
            }
        }
    }

    .ums-select {
        &__list {
            position: relative;
            display: none;
            opacity: 1;
            transform: none;
            box-shadow: none;
            &_visibility {
                &-open {
                    display: block;
                }
            }
        }
        &__btn {
            &_state {
                &-active {
                    height: 50px;
                }
            }
        }
    }

    .about-page {
        &__excerpt {
            font-size: 1.6rem;
            margin-bottom: 30px;
        }
        &__video {
            height: 350px;
            margin-bottom: 30px;
        }
        &__content {
            & p {
                font-size: 1.6rem;
            }
            & a {
                font-size: 1.6rem;
            }
        }
        &__numbers {
            margin-top: 20px;
            flex-wrap: wrap;
            &-item {
                width: 50%;
                margin-top: 30px;
                &-value {
                    font-size: 3rem;
                }
                &-name {
                    font-size: 1.6rem;
                }
            }
        }
        &__section {
            margin-top: 70px;
            &:last-child {
                margin-top: 40px;
            }
        }
    }

    .page-navigation {
        &__link {
            font-size: 1.5rem;
        }
    }

    .inner-carousel {
        &__btn {
            display: none;
        }
    }

    .team {
        &__item {
            width: 50%;
            &-img {
                max-width: 150px;
                max-height: 150px;
                margin-bottom: 10px;
            }
            &-name {
                font-size: 1.8rem;
            }
            &-link {
                font-size: 1.8rem;
            }
            &-position {
                max-width: 70%;
                margin: 0 auto;
                margin-top: 3px;
            }
        }
    }

    .f-lecturers-page {
        &__content {
            & p {
                font-size: 1.6rem;
            }
            & a {
                font-size: 1.6rem;
            }
        }
    }

    .email-help {
        &__grid {
            &-item {
                font-size: 1.6rem;
            }
        }
        &__title {
            & a {
                font-size: 2rem;
            }
        }
    }

    .success-payment-page {
        &__info {
            padding-bottom: 150px;
            &-wrapper {
                flex-direction: column;
            }
            &-item {
                width: 100%;
                margin: 0;
                margin-bottom: 30px;
                & svg {
                    width: auto;
                }
                &:nth-child(1) {
                    & svg {
                        & path {
                            &:nth-child(4) {
                                display: none;
                            }
                        }
                    }
                }
                &:nth-child(2) {
                    & svg {
                        & path {
                            &:nth-child(3) {
                                display: none;
                            }
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .lecturers-page {
        &__item {
            &-img {
                max-width: 150px;
                max-height: 150px;
            }
            &-name {
                font-size: 1.6rem;
            }
            &-position {
                font-size: 1.5rem;
            }
        }
    }

    .single-template {
        &__content {
            & p {
                font-size: 1.5rem;
            }
            & a {
                font-size: 1.5rem;
            }
            & ul, ol {
                & li {
                    font-size: 1.5rem;
                }
            }
            & h2, h3, h4, h5, h6 {
                margin-top: 30px;
            }
            & h2 {
                font-size: 2.5rem;
            }
            & h3 {
                font-size: 2.2rem;
            }
            & h4, h5, h6 {
                font-size: 2rem;
            }
        }
        &__meta {
            margin-bottom: 30px;
            &-date {
                width: 100%;
            }
            &-item {
                margin-right: 10px;
                margin-bottom: 10px;
                &:nth-last-child(2) {
                    margin-right: 0;
                }
            }
        }
        &__grid {
            padding-bottom: 150px;
        }
    }

    .share {
        flex-direction: column;
        align-items: stretch;
        &__link {
            margin: 0;
            margin-bottom: 5px;
            justify-content: flex-start;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .about-video {
        top: 250px;
    }

    .sort-navigation {
        &__button {
            font-size: 1.5rem;
        }
    }

    .post-item {
        flex-direction: column;
        padding: 10px;
        background: $white;
        box-shadow: 0 5px 40px 0 rgba(65, 1, 121, .05), 0 1px 1px 0 rgba(65, 1, 121, .1);
        border-radius: 5px;
        &__img {
            max-width: 100%;
        }
        &__info {
            padding: 15px 10px;
        }
        &__title {
            font-size: 1.7rem;
            @include font-weight('extra');
            line-height: 1.47;
        }
        &__meta {
            &-tag {
                margin-right: 10px;
                &:nth-last-child(2) {
                    margin-right: 0;
                }
            }
        }
    }

    .blog-template {
        &__sort {
            margin-bottom: 15px;
        }
        &__grid {
            padding-bottom: 150px;
        }
    }

    .template {
        &__test {
            padding-bottom: 140px;
        }
    }

    .test-form {
        &__section {
            margin-bottom: 45px;
            &-title {
                font-size: 2rem;
            }
            &-radio {
                & .radio {
                    &__name {
                        font-size: 1.6rem;
                    }
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .modal {
        &__btn {
            font-size: 1.6rem;
            height: 5rem;
        }
    }
    .portfolio {
        &__item {
            height: 69.44vw;
        }
    }
}

@media screen and (max-width: 575px) {
    .header {
        padding: 13px 0;
        &_style {
            &-default {
                padding: 17px 0;
                & .header {
                    &__logo {
                        opacity: 1;
                    }
                }
            }
        }
        &__logo {
            max-width: none;
            opacity: .5;
            & svg {
                max-width: none;
            }
        }
    }
    .m-menu {
        &__header {
            padding: 13px 0;
        }
        &__logo {
            & svg {
                max-width: none;
            }
        }
    }
    .tabs {
        &__btn {
            padding: 0 1.5rem;
        }
    }
    .testimonials {
        &__btn {
            top: 140px;
        }
        &-item {
            &__img {
                max-width: 280px;
            }
        }
        &__option {
            top: 310px;
        }
    }
    .contact-page {
        &__map {
            width: calc(100% + 30px);
            position: relative;
            left: -15px;
            height: 320px;
        }
        &__title {
            margin-bottom: 25px;
        }
    }
    .privacy-checkbox {
        & .checkbox {
            &__name {
                font-size: 1.2rem;
                line-height: 1.25;
                &::before {
                    top: -2px;
                    margin: 0;
                }
                &::after {
                    top: 3px;
                    margin: 0;
                    transform: none;
                }
            }
            &__link {
                display: inline;
                font-size: 1.2rem;
                line-height: 1.25;
                border-bottom: 1px solid $primary-200;
                &::before {
                    content: none;
                }
            }
        }
    }
    .webpay-form {
        &__sale {
            &-checkbox {
                & .checkbox {
                    &__name {
                        font-size: 1.2rem;
                        line-height: 1.25;
                        &::before {
                            top: -2px;
                            margin: 0;
                        }
                        &::after {
                            top: 3px;
                            margin: 0;
                            transform: none;
                        }
                    }
                    &__link {
                        display: inline;
                        font-size: 1.2rem;
                        line-height: 1.25;
                        border-bottom: 1px solid $primary-200;
                        &::before {
                            content: none;
                        }
                    }
                }
            }
        }
        &__btn {
            height: 6rem;
            font-size: 2rem;
            letter-spacing: -.03rem;
            @include font-weight('normal');
            width: 100%;
        }
    }
    .pages-template {
        padding-top: 0;
        &__navigation {
            margin-bottom: 15px;
        }
    }
    .category-template {
        &__wrapper {
            padding-top: 65px;
        }
    }
    .course-template {
        &__wrapper {
            padding-top: 60px;
        }
    }
    .course-info {
        &__item {
            &-name {
                font-size: 1.2rem;
                line-height: 1.25;
            }
            &-link {
                &::before {
                    top: calc(100% + 1px);
                }
            }
        }
        &__select {
            &::before {
                top: calc(100% + 1px);
            }
        }
    }
    .about-course {
        &__info {
            & p {
                font-size: 1.5rem;
                line-height: 1.45;
            }
        }
    }
    .blocker {
        padding: 40px 20px;
    }
    .form {
        &__textarea {
            &-btn {
                font-size: 1.5rem;
            }
        }
    }
    .personal-data-modal {
        & p {
            font-size: 1.5rem;
            line-height: 1.33;
            & a {
                font-size: 1.5rem;
                line-height: 1.33;
            }
        }
        & ul, ol {
            padding-left: 20px;
            & li {
                font-size: 1.5rem;
                line-height: 1.33;
            }
        }
    }
    .content-modal {
        & p {
            font-size: 1.5rem;
            line-height: 1.33;
            & a {
                font-size: 1.5rem;
                line-height: 1.33;
            }
        }
        & ul, ol {
            padding-left: 20px;
            & li {
                font-size: 1.5rem;
                line-height: 1.33;
            }
        }
    }
    .order-process {
        &__grid {
            flex-wrap: wrap;
        }
        &__item {
            @include flex(row, center);
            width: 100%;
            margin-bottom: 15px;
            &-text {
                margin: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
            & svg {
                display: none;
            }
        }
    }
    .breadcrumbs {
        & a {
            font-size: 1.1rem;
        }
    }
    .course-gallery {
        &__btn {
            &-next {
                right: 15px;
            }
            &-prev {
                left: 15px;
            }
        }
    }
    .dropdown-course-info {
        width: 100%;
        margin-left: -50%;
        &__item {
            flex-direction: column;
            align-items: flex-start;
        }
        &__name {
            padding: 0;
            text-align: left;
        }
    }
    .social {
        &__link {
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .course-btn {
        padding: 0 15px;
        &_style {
            &-1 {
                font-size: 1.7rem;
            }
        }
    }
    .payment-form {
        &__select {
            height: auto;
        }
    }
    .ums-select {
        &__list {
            &-item {
                padding: 12px 15px;
                font-size: 1.6rem;
            }
        }
        &__btn {
            font-size: 1.6rem;
            height: 50px;
        }
    }
    .about-page {
        &__numbers {
            &-item {
                padding: 0;
            }
        }
    }
    .page-navigation {
        overflow-y: auto;
        padding-bottom: 15px;
        &__link {
            white-space: nowrap;
        }
    }
    .team {
        &__item {
            &-img {
                max-width: 120px;
                max-height: 120px;
            }
            &-position {
                margin-top: 0;
                max-width: 90%;
                font-size: 1.4rem;
            }
        }
    }
    .email-help {
        padding: 35px 30px;
    }
    .sort-navigation {
        &__button {
            font-size: 1.5rem;
        }
    }
    .template {
        &__test {
            padding-bottom: 120px;
        }
    }
    .event-modal {
        &__icon {
            max-width: 80px;
            top: 50px;
        }
    }
    .modal {
        & a {
            &.close-modal {
                transform: none;
            }
        }
    }
    .we {
        &__title {
            margin-bottom: 20px;
        }
    }
    .section {
        &__text {
            text-align: left;
            margin-bottom: 45px;
        }
    }
    .testimonial-item {
        &__img {
            max-width: 280px;
        }
    }
    .lecturers-page {
        &__item {
            &-img {
                max-width: 120px;
                max-height: 120px;
            }
            &-name {
                font-size: 1.5rem;
                margin-top: 10px;
            }
        }
    }
    .content-list {
        &__title {
            font-size: 1.6rem;
        }
    }
    .portfolio-item {
        &__meta {
            padding-right: 30px;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .student-info {
        top: auto;
        bottom: 0;
        right: 2%;
        &__img {
            max-width: 450px;
        }
    }

    .testimonials__btn {
        &-next {
            left: calc(100% - 20px);
        }
        &-prev {
            right: calc(100% - 20px);
        }
    }
}

@media screen and (min-width: 992px) {
    .we {
        &__pagination {
            display: none;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .menu {
        &__item {
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .header {
        &__phone {
            &-number {
                font-size: 1.8rem;
                margin-left: 30px;
            }
        }
    }
}

@media screen and (max-width: 415px) {
    .event-modal {
        &__icon {
            max-width: 60px;
            top: 15px;
        }
        &__title {
            font-size: 2.4rem;
            padding-right: 45px;
            & span {
                font-size: 1.5rem;
            }
        }
        &__desc {
            padding-right: 0;
        }
        &__details {
            margin-top: 30px;
            &-item {
                & svg {
                    max-width: 20px;
                    max-height: 20px;
                    margin-right: 5px;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .m-menu {
        &__grid {
            margin-top: 10px;
        }
        &__footer {
            margin-top: 20px;
        }
    }
    .about-video {
        &__link {
            max-width: 300px;
        }
    }
}