.m-options {
    @include flex(row, center, flex-end);
    &__btn {
        @include flex(row, center, center);
        width: 30px;
        height: 30px;
        margin-right: 20px;
        & svg {
            pointer-events: none;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}