.dropdown {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    top: 100%;
    left: 50%;
    width: 170px;
    margin-left: -85px;
    padding-top: 15px;
    z-index: 2;
    transform: rotate3d(1, 0, 0, 15deg);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &__wrapper {
        background: $white;
        box-shadow: 0 20px 20px 0 rgba(65, 1, 121, 0.07), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
        border-radius: 5px;
        padding: 5px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 13px;
            height: 7px;
            background: icon("ums-icon-menu-polygon.svg") no-repeat 50%;
            bottom: calc(100% - 1px);
            left: 50%;
            margin-left: -4px;
        }
    }
    &__link {
        padding: 1rem 1.5rem;
        font-size: 1.5rem;
        text-decoration: none;
        &:hover {
            color: rgba($dark, .7);
        }
    }
    &_opened {
        opacity: 1;
        pointer-events: auto;
        transform: none;
    }
}