.course-list-item {
    @include flex(row, stretch);
    padding: 0 40px;
    padding-bottom: 0;
    padding-right: 45px;
    &__img {
        display: block;
        flex-shrink: 0;
        margin-right: 25px;
        padding: 20px 0;
        & img {
            max-width: 160px;
            max-height: 90px;
            border-radius: 5px;
        }
    }
    &__info {
        @include flex(row, center);
        flex: 1 1 auto;
        padding: 0;
        border-bottom: 1px solid $primary-200;
    }
    &__title {
        display: inline-block;
        text-decoration: none;
        font-size: 1.9rem;
        font-weight: bold;
        letter-spacing: -.03rem;
        width: 100%;
        max-width: 290px;
        line-height: 1.5;
        margin: 0;
        &-value {
            display: inline;
            border-bottom: 1px solid transparent;
            line-height: 1.45;
            &:hover {
                opacity: .8;
            }
        }
    }
    &__meta {
        @include flex(row, center);
        flex: 1 1 auto;
        margin-left: 50px;
        &-item {
            @include flex(row, center);
            position: relative;
            margin: 0;
            width: 33.333%;
            color: $dark-100;
            line-height: 1.3;
            font-size: 1.5rem;
            &:last-child {
                justify-content: flex-end;
            }
            &:nth-child(3) {
                & .course-list-item {
                    &__meta {
                        &-value {
                            &:not(.course-list-item__meta-value_data-null) {
                                &::before {
                                    content: attr(data-title);
                                }
                            }
                        }
                    }
                }
            }
        }
        &-value {
            display: block;
            line-height: 1.3;
            font-size: 1.5rem;
            @include font-weight('medium');
            white-space: nowrap;
            color: $gray-200;
            margin: 0;
            &::before {
                content: none;
                color: $gray-200;
                @include font-weight('medium');
                margin-right: 5px;
            }
        }
        &-inner {
            @include font-weight('normal');
            color: $gray-200;
            text-decoration: line-through;
            margin-right: 4px;
        }
        &-price {
            color: $dark-200;
            & sup {
                @include font-weight('medium');
            }
        }
        &-info {
            margin-left: 5px;
        }
    }
    &__select {
        box-shadow: 0 5px 40px 0 rgba(65, 1, 121, 0.05), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
        height: 40px;
        width: 150px;
        border-radius: 5px;
        background: $white;
        position: relative;
        margin-left: 30px;
        margin-left: 25px;
        & select {
            width: 100%;
            height: 100%;
            padding: 0 15px;
            font-size: 1.5rem;
            position: relative;
            z-index: 1;
            &:active {
                color: $dark;
            }
        }
        & svg {
            margin-left: auto;
        }
        &-name {
            @include flex(row, center);
            padding: 0 15px;
            text-decoration: none;
            font-size: 1.5rem;
            cursor: pointer;
            margin: 0;
            height: 100%;
            & svg {
                pointer-events: none;
            }
        }
    }
    &__type {
        @include flex(row, center);
        width: 100%;
        margin: 0;
        margin-top: 10px;
        &-value {
            font-size: 1rem;
            @include font-weight('medium');
            padding: 3px 10px;
            border-radius: 10px;
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
            &_theme {
                &-default {
                    background: $primary-150;
                    color: $dark-100;
                }
                &-0 {
                    background: map-get($type, 0);
                    color: $secondary-700;
                }
                &-1 {
                    background:map-get($type, 1);
                    color: $green;
                }
                &-2 {
                    background: map-get($type, 2);
                    color: $brown;
                }
            }
        }
    }
}