.m-options {
    @include flex(row, center, flex-end);
    &__btn {
        @include flex(row, center, center);
        width: 30px;
        height: 30px;
        margin-right: 20px;
        & svg {
            pointer-events: none;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__menu-btn {
        &_active {
            & svg {
                & path {
                    fill: $secondary-500;
                    opacity: 1 !important;
                }
            }
        }
    }
}