.course-list-item {
    @include flex(row, stretch);
    padding: 0 40px;
    padding-bottom: 0;
    padding-right: 45px;
    &__img {
        display: block;
        flex-shrink: 0;
        margin-right: 25px;
        padding: 20px 0;
        & img {
            max-width: 160px;
            max-height: 90px;
            border-radius: 5px;
        }
    }
    &__info {
        @include flex(row, center);
        flex: 1 1 auto;
        padding: 0;
        border-bottom: 1px solid $primary-200;
    }
    &__title {
        display: inline-block;
        text-decoration: none;
        font-size: 1.9rem;
        font-weight: bold;
        letter-spacing: -.03rem;
        width: 100%;
        max-width: 245px;
        line-height: 1.5;
    }
    &__meta {
        @include flex(row, center);
        flex: 1 1 auto;
        margin-left: 50px;
        &-item {
            @include flex(row, center);
            margin: 0;
            width: 33.333%;
            color: $dark-100;
            line-height: 1.3;
            font-size: 1.5rem;
            &:last-child {
                justify-content: flex-end;
            }
        }
        &-value {
            display: block;
            line-height: 1.3;
            font-size: 1.5rem;
            @include font-weight('medium');
            white-space: nowrap;
            color: $gray-200;
            margin: 0;
        }
        &-inner {
            @include font-weight('normal');
            color: $gray-200;
            text-decoration: line-through;
            margin-right: 4px;
        }
        &-price {
            color: $dark-200;
            & sup {
                @include font-weight('medium');
            }
        }
    }
    &__select {
        box-shadow: 0 5px 40px 0 rgba(65, 1, 121, 0.05), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
        height: 40px;
        width: 150px;
        border-radius: 5px;
        background: $white;
        position: relative;
        margin-left: 30px;
        & select {
            width: 100%;
            height: 100%;
            padding: 0 15px;
            font-size: 1.5rem;
            position: relative;
            z-index: 1;
            &:active {
                color: $dark;
            }
        }
        & svg {
            margin-left: auto;
        }
    }
}

//Media
@media screen and (max-width: 1229px) {
    .course-list-item {
        @include flex(column, center);
        padding: 20px;
        &__img {
            margin: 0 auto;
            & img {
                max-width: 250px;
                max-height: 140px;
            }
        }
        &__info {
            @include flex();
            padding: 0;
        }
    }
}