.btn {
    display: inline-block;
    border-radius: 5px;
    height: 50px;
    padding: 0 20px;
    background: linear-gradient(180deg, #33AAFF 0%, #8B24B7 127.5%);
    font-size: 1.7rem;
    font-weight: 500;
    color: $white;
    line-height: 1.41;
    text-decoration: none;
    cursor: pointer;
    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .3;
    }
    &_is {
        &-loading {
            opacity: .3;
        }
    }
    &_theme {
        &-pink {
            height: 6rem;
            background: linear-gradient(179.98deg, #FF8AF1 0.06%, #F149F8 46.65%, #E100FF 99.9%);
            box-shadow: 0px 20px 20px rgba(65, 1, 121, 0.1), 0px 1px 1px rgba(65, 1, 121, 0.1);
            border-radius: 30px;
            line-height: 1.5;
            letter-spacing: -.3px;
            @include font-weight('bold');
            padding: 0 30px;
            font-size: 2rem;
        }
    }
}

.ajax-btn {
    position: relative;
    & svg {
        margin-left: 15px;
        pointer-events: none;
        vertical-align: middle;
        position: relative;
        top: -2px;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 10px;
        background: icon('loader.svg') no-repeat 50% / auto 10px;
        top: 50%;
        left: 0;
        margin-top: -5px;
        opacity: 0;
    }
    &_state {
        &-is-loading {
            color: transparent;
            pointer-events: none;
            & svg {
                opacity: 0;
            }
            &::before {
                opacity: 1;
            }
        }
    }
}