.btn {
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    height: 50px;
    padding: 0 20px;
    font-size: 1.7rem;
    font-weight: 500;
    color: $white;
    line-height: 1.41;
    background: linear-gradient(190.23deg, #33AAFF -20.82%, #CC30CF 105.72%);
    &:disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: .3;
    }
    &_is {
        &-loading {
            opacity: .3;
        }
    }
    &_theme {
        &-pink {
            height: 6rem;
            background: linear-gradient(179.98deg, #FF8AF1 0.06%, #F149F8 46.65%, #E100FF 99.9%);
            box-shadow: 0px 20px 20px rgba(65, 1, 121, 0.1), 0px 1px 1px rgba(65, 1, 121, 0.1);
            border-radius: 30px;
            line-height: 1.5;
            letter-spacing: -.3px;
            @include font-weight('medium');
            padding: 0 30px;
            font-size: 2rem;
        }
    }
}

.ajax-btn {
    @include flex(row, center, center);
    width: 100%;
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.41;
    & svg {
        margin-left: 5px;
        flex-shrink: 0;
        pointer-events: none;
    }
    &:active {
        color: $primary-100;
    }
}