// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.is-locked {
    overflow: hidden;
}

.link {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba($white, .2);
        top: calc(100% + 5px);
        left: 0;
    }
    &:hover {
        &::before {
            background: rgba($white, .4);
        }
    }
    &:active {
        &::before {
            background: rgba($white, .6);
        }
    }
}

.icon {
    position: relative;
    &-currency {
        &::after {
            content: '';
            position: relative;
            display: inline-block;
            width: 9px;
            height: 11px;
            margin-left: 2px;
        }
    }
    &-ruble {
        &::after {
            width: 9px;
            height: 11px;
            background: icon('currency/ruble-light.svg') no-repeat 50%;
        }
        &_color {
            &-dark {
                &::after {
                    background: icon('currency/ruble-dark.svg') no-repeat 50%;
                }
            }
            &-gray {
                &::after {
                    background: icon('currency/ruble-gray.svg') no-repeat 50%;
                }
            }
        }
    }
    &-dollar {
        &::after {
            top: .5px;
            width: 8px;
            height: 14px;
            background: icon('currency/dollar-light.svg') no-repeat 50%;
        }
        &_color {
            &-dark {
                &::after {
                    top: .5px;
                    width: 8px;
                    height: 14px;
                    background: icon('currency/dollar-dark.svg') no-repeat 50%;
                }
            }
            &-gray {
                &::after {
                    top: .5px;
                    width: 8px;
                    height: 14px;
                    background: icon('currency/dollar-gray.svg') no-repeat 50%;
                }
            }
        }
    }
}