.course-template {
    &__wrapper {
        padding-bottom: 150px;
        background: image("ums-course-img.svg") no-repeat center bottom / cover;
        overflow: hidden;
        &::before {
            content: none;
        }
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 120px;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: image("ums-course-figure.svg") no-repeat center bottom / 100% auto;
        }
    }
    &__certificate {
        background: $primary-100;
    }
}

.course-btn {
    @include flex(row, center, center);
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: -.03rem;
    line-height: 1.5;
    padding: 0 30px;
    height: 60px;
    background: $white;
    border-radius: 5px;
    margin-right: 10px;
    &:last-child {
        margin-right: 0;
    }
    &:hover {
        background: rgba($white, .9);
    }
    &:active {
        background: rgba($white, .8);
        color: $dark;
    }
    &_style {
        &-1 {
            background: rgba($white, .15);
            color: $white;
            &:hover {
                background: rgba(white, .25);
            }
            &:active {
                background: rgba($white, .35);
                color: $white;
            }
        }
    }
}

.about-course {
    padding: 150px 0;
    background: $primary-100;
    position: relative;
    padding-bottom: 30px;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 120px;
        left: 0;
        top: 100%;
        background: image("ums-about-course-figure.svg") no-repeat;
        background-size: 100% auto;
        z-index: 1;
    }
    &__title {
        text-align: left;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    &__info {
        & p {
            margin: 0;
            letter-spacing: .01em;
            font-size: 1.7rem;
            line-height: 1.47;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__video {
        position: relative;
        width: 100%;
        max-width: 630px;
        height: 450px;
        border-radius: 5px;
        background: image("ums-about-course-img.svg") no-repeat;
        background-size: cover;
        &-img {
            width: 100%;
            max-width: 500px;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -250px;
        }
    }
    &__play-btn {
        position: absolute;
        top: 30px;
        left: 30px;
        z-index: 1;
    }
    &__author {
        text-align: center;
        margin: 0;
        color: $gray-200;
        font-size: 1.5rem;
        line-height: 1.3;
        margin-top: 15px;
    }
}