.social {
    @include flex(row, center);
    &__link {
        @include flex(row, center, center);
        width: 30px;
        height: 30px;
        margin-right: 3px;
        position: relative;
        border-radius: 7px;
        &:last-child {
            margin-right: 0;
        }
        &[data-icon="vk"] {
            background: rgba($white, .15) icon('vk-icon.svg') no-repeat 50% / 15px auto;
        }
        &[data-icon="behance"] {
            background: rgba($white, .15) icon('behance-icon.svg') no-repeat 50% / 15px auto;
        }
        &[data-icon="dribbble"] {
            background: rgba($white, .15) icon('dribbble-icon.svg') no-repeat 50% / 15px auto;
        }
        &[data-icon="instagram"] {
            background: rgba($white, .15) icon('instagram-icon.svg') no-repeat 50% / 15px auto;
        }
        &[data-icon="youtube"] {
            background: rgba($white, .15) icon('youtube-icon.svg') no-repeat 50% / 15px auto;
        }
        &_style {
            &-background {
                width: 30px;
                height: 30px;
                border-radius: 20px;
                background-color: rgba($white, .15);
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}