.social {
    @include flex(row, center);
    &__link {
        @include flex(row, center, center);
        width: 20px;
        height: 20px;
        margin-right: 15px;
        position: relative;
        background-repeat: no-repeat;
        background-position: 50%;
        &:last-child {
            margin-right: 0;
        }
        &[data-icon="vk"] {
            background-image: icon('vk-icon.svg');
        }
        &[data-icon="behance"] {
            background-image: icon('behance-icon.svg');
        }
        &[data-icon="dribbble"] {
            background-image: icon('dribbble-icon.svg');
        }
        &[data-icon="instagram"] {
            background-image: icon('instagram-icon.svg');
        }
        &[data-icon="youtube"] {
            background-image: icon('youtube-icon.svg');
        }
        &_style {
            &-background {
                width: 30px;
                height: 30px;
                border-radius: 20px;
                background-color: rgba($white, .15);
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}