// .has-children {
//     position: relative;
//     & > a {
//         padding-right: 1.4em;
//         &::after {
//             content: '';
//             position: absolute;
//             width: 1.4em;
//             height: 1.4em;
//             top: 50%;
//             margin-top: -.7em;
//             right: 0;
//             background: url("../img/icons/ums-icon-down.svg") no-repeat 50%;
//             transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
//         }
//         &::before {
//             width: calc(100% - 1.4em);
//         }
//         &.menu {
//             &__link {
//                 &_style {
//                     &-dark {
//                         background: url("../img/icons/ums-icon-down-dark.svg") no-repeat 50%;
//                     }
//                 }
//             }
//         }
//     }
//     &:hover {
//         & .dropdown {
//             opacity: 1;
//             pointer-events: auto;
//             transform: none;
//         }
//         & > a {
//             &::after {
//                 transform: scale3d(1, -1, 1);
//             }
//             &::before {
//                 opacity: 0;
//             }
//         }
//     }
// }

.wrapper {
    background: $primary-100;
    position: relative;
    padding-top: 100px;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 760px;
        top: 0;
        left: 0;
        background: image("ums-wrapper.svg") no-repeat center bottom / cover;
    }
}

.template {
    &__title {
        display: inline-block;
    }
    &__header {
        margin-bottom: 30px;
    }
    &__breadcrumbs {
        margin-bottom: 40px;
    }
    &__davantages {
        margin-top: 30px;
    }
}

.course-list {
    &__header {
        margin-bottom: 10px;
    }
    &__grid {
        background: $white;
        border-radius: 5px;
        box-shadow: 0 20px 20px 0 rgba(65, 1, 121, 0.05), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
    }
    &__more-btn {
        @include flex(row, center, center);
        width: 100%;
        height: 6rem;
        font-size: 1.7rem;
        font-weight: 500;
        border-radius: 5px;
        & svg {
            margin-left: 5px;
        }
        &:active {
            color: rgba($dark-200, .7);
        }
    }
}

.advantages {
    &__item {
        @include flex(row, center);
    }
    &__img {
        flex-shrink: 0;
        margin-right: 15px;
    }
    &__name {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.3;
        color: rgba($dark-200, .7);
        word-break: break-word;
    }
}

.certificate {
    &__text {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 2.8rem;
        line-height: 1.42;
        letter-spacing: -.05rem;
        max-width: 330px;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        margin-left: -165px;
        text-align: left;
    }
}

.section {
    padding: 50px 0;
    &__title {
        text-align: center;
        margin-bottom: 50px;
    }
    &__note {
        margin: 0;
        text-align: center;
        letter-spacing: .01em;
        font-size: 1.7rem;
        color: $gray-500;
    }
    &__text {
        margin-bottom: 35px;
        text-align: center;
        & p {
            margin: 0;
            color: $dark-100;
            font-size: 1.5rem;
            line-height: 1.33;
        }
    }
}

.portfolio {
    padding: 70px 0;
    padding-bottom: 0;
    &__btn {
        padding: 15px 0;
    }
}

.we {
    padding: 120px 0;
    padding-bottom: 90px;
    &__btn {
        position: absolute;
        @include flex(row, center, center);
        width: 40px;
        height: 40px;
        top: 50%;
        margin-top: -20px;
        z-index: 1;
        &-prev {
            right: 100%;
        }
        &-next {
            left: 100%;
        }
    }
    &__title {
        margin-bottom: 25px;
    }
}

.blog-section {
    padding: 100px 0;
    background: $primary-100;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 130px;
        position: absolute;
        left: 0;
        bottom: calc(100% - 1px);
        background: image("ums-blog-figure.svg") no-repeat center bottom / 100% auto;
    }
    &__header {
        @include flex(row, center);
        margin-bottom: 30px;
    }
    &__col {
        margin-bottom: 30px;
    }
    &__title {
        margin: 0;
    }
    &__all-link {
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 1.3;
        margin-left: auto;
        &::before {
            background: $primary-200;
        }
        &:hover {
            &::before {
                background: $gray-200;
            }
        }
        &:active {
            &::before {
                background: $dark;
            }
        }
    }
}

.test {
    padding-bottom: 80px;
    &__title {
        margin: 0;
        text-align: center;
        font-size: 1.5rem;
        color: $dark-100;
        line-height: 1.3;
        position: relative;
        z-index: 1;
    }
    &__link {
        font-size: 1.5rem;
        color: $dark-100;
        text-decoration: none;
        line-height: 1.3;
        &::before {
            background: $primary-200;
        }
        &:hover {
            &::before {
                background: $gray-200;
            }
        }
    }
    &__img {
        position: absolute;
        right: 0;
        top: calc(100% + 10px);
        max-width: 140px;
        margin-top: 10px;
    }
}

.about {
    padding: 0;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($dark, .5);
        top: 0;
        left: 0;
    }
    &__link {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 1.5rem;
        line-height: 1.3;
        text-decoration: none;
        &::before {
            background: $primary-200;
        }
        &::after {
            content: '';
            position: absolute;
            width: 160px;
            height: 160px;
            top: 50%;
            left: 50%;
            margin-top: -80px;
            margin-left: -80px;
            background: $white;
            border-radius: 50%;
            box-shadow: 0 20px 20px 0 rgba(65, 1, 121, 0.05), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
            z-index: -1;
        }
        &:hover {
            &::before {
                background: $gray-200;
            }
        }
    }
    &__wrapper {
        @include flex(column, center, center);
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -180px;
        margin-left: -180px;
        width: 360px;
        height: 360px;
        background: $white;
        border-radius: 50%;
        box-shadow: 0 20px 20px 0 rgba(65, 1, 121, 0.05), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
        z-index: 1;
        &-link {
            margin-top: 15px;
            text-decoration: none;
            font-size: 1.5rem;
            line-height: 1.3;
            &::before {
                background: $primary-200;
            }
            &:hover {
                &::before {
                    background: $gray-200;
                }
            }
        }
    }
    &__icon {
        margin-bottom: 10px;
    }
    &__name {
        margin: 0;
        font-size: 2.8rem;
        letter-spacing: -.05rem;
        line-height: 1.42;
        text-align: center;
        & span {
            display: block;
            font-size: 1.5rem;
            line-height: 1.3;
            color: $gray-500;
        }
    }
    &__btn {
        margin-top: 20px;
    }
}

.help-section {
    padding: 115px 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    &::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 120px;
        background: image("ums-help-figure.svg") no-repeat center bottom / 100% auto;
        left: 0;
        bottom: calc(100% - 1px);
    }
    &__title {
        margin-bottom: 15px;
    }
    &__form {
        margin-top: 20px;
    }
    &__checkbox {
        margin-top: 30px;
    }
}
//Media
@media screen and (max-width: 991px) {
    .course-list {
        position: relative;
        z-index: 2;
    }
}