@media screen and (min-width: 1230px) {
    .template {
        &__test {
            padding-bottom: 0;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translate3d(0, -50%, 0);
        }
    }
}

// @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
//     .iti__flag {
//         background: image("flags@2x.png") no-repeat;
//     }
// }

@media screen and (max-width: 1229px) {
    .template {
        &__test {
            padding-bottom: 160px;
        }
    }
    .about-video {
        right: calc((100% - 960px)/2 - 60px);
    }

    .home-template__wrapper {
        overflow: hidden;
    }

    .course-list-item {
        @include flex(column, flex-start);
        padding: 0;
        &__img {
            margin: 0 auto;
            padding: 0;
            width: 100%;
            margin-bottom: 10px;
            & img {
                max-width: none;
                max-height: none;
                width: 100%;
            }
        }
        &__info {
            @include flex(column, flex-start, flex-start);
            padding: 0;
            border-bottom: none;
        }
        &__select {
            width: 100%;
            margin: 0;
            font-size: 1.5rem;
        }
        &__meta {
            margin: 0;
            margin-top: 15px;
            margin-left: 0;
            width: 100%;
            flex-direction: column;
            align-items: stretch;
            &-item {
                &:nth-child(n) {
                    width: 100%;
                    display: flex;
                    margin-bottom: 5px;
                }
                &:last-child {
                    margin-bottom: 0;
                    justify-content: flex-start;
                }
            }
            &-value {
                position: relative;
                color: $dark;
                @include font-weight('normal');
                &::before {
                    content: attr(data-title);
                }
            }
            &-price {
                @include font-weight('medium');
                & sup {
                    font-size: 1.5rem;
                    line-height: 1.33;
                    left: auto;
                    top: auto;
                    margin-left: 3px;
                }
            }
            &-inner {
                color: $dark;
            }
        }
        &__title {
            font-size: 2rem;
            @include font-weight('extra');
            letter-spacing: -.3px;
            margin-bottom: 10px;
            line-height: 1.3;
            max-width: none;
        }
    }

    .course-list {
        &__row {
            padding: 20px;
            width: 50%;
        }
    }

    .course-list__more-btn {
        color: #fff;
        background: linear-gradient(183.9deg, #33AAFF -20.82%, #CC30CF 105.72%);
    }

    .course-list__more-btn svg path {
        fill: #fff;
    }

    .course-list__footer {
        margin-top: 20px;
        padding: 0;
    }

    .course-list__grid {
        border-radius: 0;
        background: transparent;
        box-shadow: none;
    }

    .course-list__wrapper {
        display: flex;
        flex-wrap: wrap;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 20px 20px 0 rgba(65, 1, 121, 0.05), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
    }

    .tabs__btn {
        width: auto;
    }

    .certificate__text {
        font-size: 2.3rem;
    }

    .advantages__item {
        flex-direction: column;
    }

    .advantages__img {
        margin: 0 auto;
        margin-bottom: 8px;
    }

    .advantages__name {
        text-align: center;
    }

    .portfolio-item__name::before {
        content: none;
    }

    .contact-page__info-item {
        font-size: 2rem;
    }

    .course-gallery__btn-next {
        left: auto;
        right: calc((100% - 960px)/2);
    }

    .course-gallery__btn-prev {
        right: auto;
        left: calc((100% - 960px)/2);
    }

    .dropdown-course-info__name {
        font-size: 1.2rem;
        color: #9E98A3;
        line-height: 1.25;
        margin-bottom: 5px;
    }

    .dropdown-course-info__value {
        color: #211130;
        line-height: 1.25;
    }

    .course-list-item__select {
        display: none;
    }

    .course-list-item__meta {
        margin-top: 0;
    }

    .info {
        width: auto;
        height: auto;
    }

    .info__icon {
        display: none;
    }

    .info__icon path, .info__icon circle {
        pointer-events: none;
    }

    .info__content {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        bottom: auto;
        left: auto;
        transform: none;
        box-shadow: none;
        padding: 0;
        border-radius: 0;
        opacity: 1;
    }

    .info__content-value {
        margin-right: 5px;
        color: #9D98A3;
    }

    .info__content-value:last-child {
        margin-right: 0;
    }

    .icon-ruble_color-dark::after {
        background: url('../img/icons/ums-icon-ruble-gray.svg') no-repeat 50%;
    }

    .icon-dollar_color-dark::after {
        background: url('../img/icons/ums-icon-dollar-gray.svg') no-repeat 50%;
    }

    .page-navigation {
        flex-direction: row;
    }

    .page-navigation__link {
        margin: 0;
        margin-right: 10px;
    }

    .page-navigation__link:last-child {
        margin-right: 0;
    }

    .pages-template__navigation {
        margin-bottom: 30px;
    }

    .lecturers-page__sort {
        position: relative;
    }

    .lecturers-page__sort-wrapper {
        overflow-x: auto;
        padding-bottom: 15px;
    }

    .blog-template__sort {
        margin-bottom: 30px;
        flex-direction: row;
    }

    .sort__button {
        margin: 0;
        margin-right: 10px;
    }

    .test__img {
        right: 25%;
    }
}

@media screen and (max-width: 991px) {
    .calculation__section-title {
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: -.03rem;
        margin-bottom: 15px;
    }

    .calculation__section {
        margin-bottom: 45px;
    }

    .certificates-page__calculation {
        margin-top: 45px;
    }

    .certificates-page__desc p {
        font-size: 1.6rem;
    }

    .certificates-page__img {
        margin-top: 20px;
    }

    .event-modal__title {
        font-size: 3rem;
        padding-right: 65px;
    }

    .event-modal__desc {
        font-size: 1.6rem;
        padding-right: 115px;
    }

    .event-modal__details-item {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }

    .event-modal__details-item:last-child {
        margin-bottom: 0;
    }

    .home-template__wrapper {
        padding-top: 90px;
    }

    .home-template__header {
        margin-bottom: 290px;
    }

    .title {
        font-size: 3.5rem;
    }

    .about-video {
        top: 275px;
        text-align: center;
    }

    .about-video__link {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 320px;
    }

    .home-template__title {
        max-width: 500px;
    }

    .header__select {
        display: none;
    }

    .template__advantages {
        margin-top: 65px;
    }

    .advantages__col {
        margin-bottom: 20px;
    }

    .advantages__name {
        max-width: 160px;
        text-align: center;
    }

    .advantages__img {
        width: 80px;
        height: 80px;
    }

    .advantages__item {
        padding-left: 0;
    }

    .certificate__text {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        margin: 0 auto;
        margin-top: 15px;
        letter-spacing: .01em;
        font-size: 1.7rem;
        line-height: 1.47;
        text-align: center;
    }

    .home-template__certificate {
        padding-bottom: 105px;
    }

    .portfolio {
        padding-top: 40px;
    }

    .section__title {
        margin-bottom: 20px;
    }

    .portfolio-item__meta {
        padding: 30px 15px;
    }

    .we {
        padding-top: 100px;
    }

    .footer {
        background: url('../img/ums-footer.svg') no-repeat 50%;
        background-size: cover;
    }

    .footer__top {
        padding: 50px 0;
    }

    .footer__bottom {
        padding: 0;
        padding-bottom: 45px;
        text-align: center;
        border-top: none;
    }

    .footer__text {
        text-align: center;
    }

    .company-info {
        max-width: 330px;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .footer__link {
        margin: 0;
        margin-bottom: 20px;
    }

    .footer__logo {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .footer__social {
        justify-content: center;
        margin-top: 20px;
        padding-bottom: 45px;
        border-bottom: 1px solid rgba(255, 255, 255, .15);
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 55px 0;
        /* border-bottom: 1px solid rgba(255,255,255,.15); */
    }

    .footer__testimonials {
        margin-top: 0;
    }

    .google-testimonials {
        max-width: none;
        width: 100%;
    }

    .footer-menu__item {
        margin-bottom: 20px;
    }

    .footer-menu__item:last-child {
        margin-bottom: 0;
    }

    .footer-menu__col {
        align-items: center;
        margin: 0;
        margin-bottom: 50px;
    }

    .footer-menu__col:last-child {
        margin-bottom: 0;
    }

    .footer__info {
        padding-top: 40px;
    }

    .footer__info-link {
        margin-right: 10px;
    }

    .footer__info-link:last-child {
        margin-right: 0;
    }

    .home-template__testimonials {
        padding: 110px 0;
        padding-bottom: 60px;
    }

    .testimonial-item__text p {
        letter-spacing: .01em;
        font-size: 1.7rem;
        line-height: 1.47;
    }

    .testimonial-item__play-btn {
        left: auto;
        right: 15px;
    }

    .play-button__icon {
        width: 60px;
        height: 60px;
    }

    .play-button__icon svg {
        max-width: 16.8px;
        left: 4px;
    }

    .play-button__name {
        margin-top: 5px;
    }

    .testimonials__btn {
        top: 215px;
        margin: 0;
        z-index: 1;
    }

    .testimonials__btn-prev {
        right: auto;
        left: 0;
    }

    .testimonials__btn-next {
        right: 0;
        left: auto;
    }

    .testimonial-item__info {
        padding-top: 55px;
        padding-bottom: 0;
    }

    .testimonials__option {
        z-index: 0;
        width: 100%;
        left: 0;
        bottom: auto;
        position: relative;
        margin-top: 30px;
        justify-content: center;
    }

    .testimonials__pagination {
        margin: 0;
    }

    .testimonials__wrapper {
        padding-bottom: 55px;
    }

    .social-testimonials {
        padding: 30px;
        padding-bottom: 40px;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        position: relative;
    }

    .social-testimonials::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border: 15px solid transparent;
        border-bottom-color: #fff;
        top: -30px;
        left: 50%;
        margin-left: -7.5px;
    }

    .social-testimonials__name {
        font-size: 1.5rem;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 15px;
    }

    .social-testimonials__link {
        margin: 0;
        margin-bottom: 15px;
    }

    .social-testimonials__link:last-child {
        margin-bottom: 0;
    }

    .testimonial-item__link {
        font-size: 1.5rem;
        margin-top: 12px;
        line-height: 1.3;
    }

    .testimonials__quote-icon {
        display: none;
    }

    .testimonial-item__img {
        max-width: 450px;
        margin: 0 auto;
    }

    .we__btn {
        display: none;
    }

    .course-list__more-btn {
        height: 4rem;
        font-size: 1.5rem;
    }

    .menu__link_style-dark {
        color: #fff;
    }

    .header__phone-number_style-dark {
        color: #fff;
    }

    .header__phone-number_style-dark span {
        color: rgba(255, 255, 255, .7);
    }

    .header__phone-number_style-dark:hover {
        color: rgba(255, 255, 255, .9);
    }

    .menu__item.current-menu-item .menu__link_style-dark {
        color: rgba(255, 255, 255, .3);
    }

    .pages-template {
        padding-bottom: 100px;
    }

    .contact-page {
        padding-bottom: 0;
    }

    .contact-page__map {
        height: 520px;
    }

    .contact-page__info {
        padding-bottom: 60px;
    }

    .contact-page__info-item {
        font-size: 1.7rem;
        line-height: 1.47;
        letter-spacing: 0;
        margin-bottom: 20px;
        font-weight: 500;
    }

    .contact-page__info-item:last-child {
        margin-bottom: 0;
    }

    .contact-page__info-item span {
        font-size: 1.2rem;
        letter-spacing: 0;
        line-height: 1.25;
        font-weight: normal;
    }

    .contact-page__social-link {
        width: 40px;
        height: 40px;
    }

    .contact-page__social-link svg {
        width: 40px;
        height: 40px;
    }

    .contact-page__text {
        margin-top: 35px;
    }

    .form__group {
        flex-direction: column;
        align-items: stretch;
    }

    .form__input_width-m {
        width: 100%;
        margin-bottom: 20px;
    }

    .form__input_width-m:last-child {
        margin-bottom: 0;
    }

    .modal__title {
        font-size: 2.5rem;
    }

    .category-template__wrapper {
        padding-top: 80px;
    }

    .template__breadcrumbs {
        margin-bottom: 15px;
    }

    .category-template__wrapper {
        padding-bottom: 110px;
        overflow: hidden;
    }

    .help-section {
        padding: 100px 0;
        padding-top: 60px;
    }

    .section__note {
        font-size: 1.5rem;
        line-height: 1.3;
        max-width: 270px;
        margin: 0 auto;
    }

    .help-section__title {
        margin-bottom: 15px;
    }

    .checkbox__name {
        text-align: left;
    }

    .help-form {
        flex-direction: column;
        align-items: stretch;
    }

    .help-section__checkbox {
        margin-top: 20px;
    }

    .help-form__input {
        margin: 0;
        margin-bottom: 20px;
        max-width: none;
    }

    .pages-template__grid {
        padding-top: 15px;
    }

    .payment-form__section-name {
        font-size: 2rem;
        line-height: 1.5;
        letter-spacing: -.03rem;
        margin-bottom: 15px;
    }

    .form__select select {
        padding-right: 35px;
    }

    .form__select::after {
        right: 5px;
    }

    .payment-item {
        width: 100%;
    }

    .payment-item:nth-child(n) {
        margin: 0;
        margin-bottom: 10px;
    }

    .payment-item:last-child {
        margin-bottom: 0;
    }

    .payment-form__section {
        margin-bottom: 45px;
    }

    .payment-form__section:last-child {
        margin-bottom: 0;
    }

    .payment-item__name {
        height: 100px;
        padding: 0 50px;
    }

    .erip__code {
        display: none;
    }

    .webpay-form__sale-checkbox .checkbox__name {
        font-size: 1.5rem;
        line-height: 1.33;
    }

    .erip__info {
        margin-left: 0;
    }

    .payment-section {
        margin: 0;
    }

    .webpay-form__payment-level {
        flex-direction: column;
        align-items: flex-start;
    }

    .webpay-form__item {
        margin-bottom: 20px;
    }

    .webpay-form__item:last-child {
        margin-bottom: 0;
    }

    .webpay-form__note {
        margin-top: 20px;
    }

    .webpay-form__radio {
        margin: 0;
        margin-bottom: 15px;
    }

    .webpay-form__radio:last-child {
        margin-bottom: 0;
    }

    .course-template__wrapper {
        padding-bottom: 0;
        padding-top: 74px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .course-template__wrapper::after {
        bottom: 0;
    }

    .course-info__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .course-info__item-name {
        text-align: left;
    }

    .course-info__item-value {
        margin: 0;
        font-size: 1.7rem;
        line-height: 1.25;
        font-weight: normal;
        margin-top: 5px;
    }

    .course-info__select select {
        font-size: 1.7rem;
    }

    .course-info__options {
        margin-top: 35px;
        flex-direction: column;
    }

    .course-btn {
        width: 100%;
        margin: 0;
        margin-bottom: 10px;
    }

    .course-btn:last-child {
        margin-bottom: 0;
    }

    .student-info {
        position: relative;
        top: auto;
        bottom: auto;
        right: auto;
        margin: 0 auto;
        margin-top: 35px;
        width: 100%;
        max-width: 275px;
    }

    .student-info__img {
        max-width: 100%;
    }

    .student-info__text::before {
        content: none;
    }

    .student-info__name {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 500;
        line-height: 1.3;
    }

    .student-info__name span {
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 1.25;
    }

    .student-info__text {
        max-width: 85px;
        top: 20%;
        left: auto;
        right: -15px;
    }

    .about {
        overflow: hidden;
    }

    .about-course {
        padding-top: 100px;
        padding-bottom: 90px;
    }

    .about-course__title {
        margin: 0;
        margin-bottom: 60px;
        text-align: center;
    }

    .about-course__video {
        height: 210px;
        max-width: none;
    }

    .about-course__video-img {
        max-width: 235px;
        margin-left: -117.5px;
    }

    .about-course__author {
        font-size: 1.2rem;
        line-height: 1.3;
        margin-top: 8px;
    }

    .about-course__info {
        margin-top: 25px;
    }

    .for-whom {
        margin-top: 65px;
        padding-top: 50px;
    }

    .for-whom__title {
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 30px;
        text-align: center;
    }

    .for-whom__title svg {
        margin: 0;
        margin-bottom: 12px;
    }

    .for-whom__icon {
        width: 80px;
        height: 80px;
    }

    .for-whom__name {
        line-height: 1.33;
        font-size: 1.5rem;
        margin: 0;
        margin-top: 8px;
    }

    .for-whom__item {
        margin-bottom: 25px;
    }

    .program {
        padding: 100px 0;
        padding-bottom: 50px;
    }

    .program__title {
        margin-bottom: 30px;
    }

    .content-list__title {
        font-size: 1.5rem;
        line-height: 1.33;
    }

    .content-list__item {
        padding: 15px 20px;
    }

    .content-list__title::after {
        width: 20px;
        height: 20px;
        margin-top: -10px;
    }

    .program__figure {
        height: 480px;
    }

    .process {
        padding-bottom: 50px;
    }

    .course-template__certificate {
        padding-bottom: 100px;
    }

    .process__name {
        font-size: 1.7rem;
    }

    .process__title {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
    }

    .process__title svg {
        margin: 0;
        margin-bottom: 12px;
    }

    .process__text {
        font-size: 1.2rem;
        line-height: 1.33;
        margin-top: 0;
    }

    .process__item {
        margin-bottom: 20px;
    }

    .results {
        padding: 100px 0;
    }

    .results__title {
        text-align: center;
        margin-bottom: 40px;
    }

    .results__col {
        margin-bottom: 30px;
    }

    .results__col:last-child {
        margin-bottom: 0;
    }

    .faq {
        padding: 100px 0;
    }

    .faq__title {
        text-align: center;
        margin-bottom: 30px;
    }

    .faq__video {
        margin-bottom: 20px;
    }

    .content-list {
        border-radius: 0;
        background: transparent;
        box-shadow: none;
    }

    .content-list__wrapper {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 5px 40px 0 rgba(65, 1, 121, 0.05), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
    }

    .content-list__more-btn {
        color: #fff;
        background: linear-gradient(183.9deg, #33AAFF -20.82%, #CC30CF 105.72%);
        border-radius: 5px;
        height: 4rem;
        padding: 0;
    }

    .content-list__more-btn:active {
        color: #fff;
    }

    .content-list__more-btn svg path {
        fill: #fff;
    }

    .faq__footer {
        margin-top: 5px;
    }

    .about-course__play-btn {
        top: 10px;
        left: 15px;
    }

    .lecturer-modal__img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .lecturer-modal__social {
        width: 100%;
        justify-content: flex-start;
    }

    .modal__social-link {
        width: 30px;
        height: 30px;
    }

    .modal__social-link svg {
        width: 30px;
        height: 30px;
    }

    .lecturer-modal__img img {
        width: 60px;
        height: 60px;
    }

    .lecturer-modal__title {
        margin-left: 10px;
    }

    .modal {
        padding: 20px;
        padding-bottom: 30px;
    }

    .free-start-modal {
        padding-top: 40px;
    }

    .modal a.close-modal {
        width: 30px;
        height: 30px;
    }

    .modal__title {
        font-size: 1.7rem;
        line-height: 1.47;
        font-weight: 800;
        letter-spacing: -.04em;
    }

    .free-start-modal__title {
        font-weight: normal;
    }

    .lecturer-modal__title {
        margin-bottom: 0;
        max-width: 135px;
    }

    .modal__btn {
        height: 4rem;
    }

    .lecturer-modal__grid {
        align-items: center;
    }

    .lecturer-modal__text {
        margin-top: 15px;
    }

    .lecturer-modal__social {
        margin-top: 15px;
    }

    .modal__process {
        margin-top: 50px;
    }

    .order-process__title {
        margin-bottom: 15px;
    }

    .map-modal {
        padding: 0;
        height: 100vw;
        max-height: calc(100% - 100px);
    }

    .video-modal {
        padding: 0;
        height: 100vw;
        max-height: calc(100% - 100px);
    }

    .form__textarea-btn {
        margin-top: 25px;
    }

    .course-gallery__btn-next {
        right: calc((100% - 720px)/2);
    }

    .course-gallery__btn-prev {
        left: calc((100% - 720px)/2);
    }

    .dropdown-course-info__item {
        margin-bottom: 20px;
    }

    .dropdown-course-info__item:last-child {
        margin-bottom: 0;
        display: block;
        margin-top: 30px;
    }

    .dropdown-course-info__btn {
        height: 4rem;
    }

    .portfolio-item__name {
        font-size: 2rem;
    }

    .footer__info-links {
        margin-bottom: 40px;
    }

    .course-info__item-btn {
        font-size: 1.2rem;
    }

    .m-options__menu-btn {
        position: fixed;
    }

    .m-options__phone-link_m-right {
        margin-right: 50px;
    }

    .course-info__item-wrapper {
        margin-left: 0;
    }

    .course-info__item-price {
        margin: 0;
    }

    .for-whom__icon_position-1 img {
        max-width: 50px;
        max-height: 30px;
    }

    .for-whom__icon_position-2 img {
        max-width: 35px;
        max-height: 39px;
    }

    .for-whom__icon_position-3 img {
        max-width: 48px;
        max-height: 36px;
        position: relative;
        top: -3px;
        right: -3px;
    }

    .for-whom__icon_position-4 img {
        position: relative;
        top: 5px;
        max-width: 54px;
    }

    .about-page__grid {
        padding-top: 30px;
    }

    .f-lecturers-page__grid {
        padding-top: 30px;
    }

    .success-payment-page {
        padding-bottom: 0;
    }

    .success-payment-page__info-title {
        position: relative;
        margin-bottom: 20px;
        bottom: auto;
    }

    .blog-section__title {
        margin-bottom: 0;
    }

    .blog-item__title {
        font-size: 1.7rem;
        line-height: 1.47;
    }

    .single-template__content p,
    .single-template__content a,
    .single-template__content ul li,
    .single-template__content ol li {
        font-size: 1.6rem;
        line-height: 1.55;
    }

    .single-template__content h2,
    .single-template__content h3,
    .single-template__content h4,
    .single-template__content h5,
    .single-template__content h6 {
        margin: 20px 0;
        margin-top: 35px;
    }

    .single-template__content h2 {
        font-size: 3.2rem;
    }

    .single-template__content h3 {
        font-size: 2.8rem;
    }

    .single-template__content h4,
    .single-template__content h5,
    .single-template__content h6 {
        font-size: 2.5rem;
    }

    .post-item__img {
        max-width: 350px;
    }

    .post-item__title {
        font-size: 2.3rem;
    }

    .ajax-lecturer-modal .lecturer-modal__grid {
        flex-direction: column;
        align-items: flex-start;
    }

    .test-form__section-title {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 767px) {
    .breadcrumbs span[typeof="ListItem"] span.current-item {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        max-width: 120px;
        text-overflow: ellipsis;
    }

    .we__btn-prev {
        right: auto;
        left: 0;
    }

    .we__btn-next {
        left: auto;
        right: 0;
    }

    .we-item__img {
        max-width: 140px;
    }

    .we-item__desc {
        max-width: 330px;
        margin: 0 auto;
        text-align: center;
    }

    .we-item__title {
        margin-top: 10px;
        font-size: 1.7rem;
        font-weight: 800;
        letter-spacing: -.4px;
        line-height: 1.47;
    }

    .home-template__title {
        max-width: 380px;
    }

    .title {
        font-size: 2.8rem;
    }

    .course-list__row {
        width: 100%;
    }

    .course-list-item__meta-item {
        font-size: 0;
    }

    .contact-page__map {
        height: 420px;
    }

    .course-gallery__btn-next {
        right: calc((100% - 540px)/2);
    }

    .course-gallery__btn-prev {
        left: calc((100% - 540px)/2);
    }

    .form__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .no-template__text,
    .no-template__text a {
        font-size: 1.7rem;
        line-height: 1.25;
    }

    .ums-select__list {
        position: relative;
        display: none;
        opacity: 1;
        transform: none;
        box-shadow: none;
    }

    .ums-select__list_visibility-open {
        display: block;
    }

    .form__select_state-active {
        height: auto;
    }

    /* .form__select_state-active.calculation__select {
        height: 5rem;
    } */
    .ums-select__btn_state-active {
        height: 50px;
    }

    .about-page__excerpt {
        font-size: 1.6rem;
        margin-bottom: 30px;
    }

    .page-navigation__link {
        font-size: 1.5rem;
    }

    .about-page__video {
        height: 350px;
        margin-bottom: 30px;
    }

    .about-page__content p,
    .about-page__content a {
        font-size: 1.6rem;
    }

    .about-page__numbers {
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .about-page__numbers-item {
        width: 50%;
        margin-top: 30px;
    }

    .about-page__numbers-item-value {
        font-size: 3rem;
    }

    .about-page__numbers-item-name {
        font-size: 1.6rem;
    }

    .about-page__section {
        margin-top: 70px;
    }

    .about-page__section:last-child {
        margin-top: 40px;
    }

    .inner-carousel__btn {
        display: none;
    }

    .team__item {
        width: 50%;
    }

    .team__item-img {
        max-width: 150px;
        max-height: 150px;
        margin-bottom: 10px;
    }

    .team__item-name {
        font-size: 1.8rem;
    }

    .team__item-link {
        font-size: 1.8rem;
    }

    .team__item-position {
        max-width: 70%;
        margin: 0 auto;
        margin-top: 3px;
    }

    .f-lecturers-page__content p,
    .f-lecturers-page__content a {
        font-size: 1.6rem;
    }

    .email-help__grid-item {
        font-size: 1.6rem;
    }

    .email-help__title a {
        font-size: 2rem;
    }

    .success-payment-page__info {
        padding-bottom: 150px;
    }

    .success-payment-page__info-wrapper {
        flex-direction: column;
    }

    .success-payment-page__info-item {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }

    .success-payment-page__info-item svg {
        width: auto;
    }

    .success-payment-page__info-item:nth-child(1) svg path:nth-child(4) {
        display: none;
    }

    .success-payment-page__info-item:nth-child(2) svg path:nth-child(3) {
        display: none;
    }

    .success-payment-page__info-item:last-child {
        margin-bottom: 0;
    }

    .home-template__btn {
        margin-top: 30px;
        height: 4.5rem;
        font-size: 1.5rem;
    }

    .lecturers-page__item-img {
        max-width: 150px;
        max-height: 150px;
    }

    .lecturers-page__item-name {
        font-size: 1.8rem;
        text-align: center;
    }

    .lecturers-page__item-position {
        font-size: 1.5rem;
        text-align: center;
    }

    .single-template__content p,
    .single-template__content a,
    .single-template__content ul li,
    .single-template__content ol li {
        font-size: 1.5rem;
    }

    .single-template__content h2,
    .single-template__content h3,
    .single-template__content h4,
    .single-template__content h5,
    .single-template__content h6 {
        margin-top: 30px;
    }

    .single-template__content h2 {
        font-size: 2.5rem;
    }

    .single-template__content h3 {
        font-size: 2.2rem;
    }

    .single-template__content h4,
    .single-template__content h5,
    .single-template__content h6 {
        font-size: 2rem;
    }

    .share {
        flex-direction: column;
        align-items: stretch;
    }

    .share__link {
        margin: 0;
        margin-bottom: 5px;
        justify-content: flex-start;
    }

    .share__link:last-child {
        margin-bottom: 0;
    }

    .course-list-item__title-value {
        border-color: #e6e0eb;
    }

    .about-video {
        top: 250px;
    }

    .sort__button {
        font-size: 1.5rem;
    }

    .post-item {
        flex-direction: column;
    }

    .post-item__img {
        max-width: 100%;
    }

    .post-item {
        padding: 10px;
        background: #fff;
        box-shadow: 0 5px 40px 0 rgba(65, 1, 121, .05), 0 1px 1px 0 rgba(65, 1, 121, .1);
        border-radius: 5px;
    }

    .post-item__info {
        padding: 15px 10px;
    }

    .post-item__title {
        font-size: 1.7rem;
        font-weight: 800;
        line-height: 1.47;
    }

    .post-item__meta-tag {
        margin-right: 10px;
    }

    .post-item__meta-tag:nth-last-child(2) {
        margin-right: 0;
    }

    .blog-template__sort {
        overflow-x: auto;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .blog-template__grid {
        padding-bottom: 150px;
    }

    .single-template__meta {
        margin-bottom: 30px;
    }

    .single-template__meta-date {
        width: 100%;
    }

    .single-template__meta-item {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .single-template__meta-item:nth-last-child(2) {
        margin-right: 0;
    }

    .template__test {
        padding-bottom: 140px;
    }

    .single-template__grid {
        padding-bottom: 150px;
    }

    .test-form__section-title {
        font-size: 2rem;
    }

    .test-form__section-radio .radio__name {
        font-size: 1.6rem;
    }

    .test-form__section {
        margin-bottom: 45px;
    }

    .test-form__section:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 575px) {
    .header {
        padding: 13px 0;
    }

    .m-menu__header {
        padding: 13px 0;
    }

    .header__logo {
        max-width: none;
    }

    .header__logo svg {
        max-width: none;
    }

    .m-menu__logo svg {
        max-width: none;
    }

    .header_style-default {
        padding: 17px 0;
    }

    .header_style-default .header__logo {
        opacity: 1;
    }

    .tabs__btn {
        padding: 0 1.5rem;
    }

    .testimonials__btn {
        top: 140px;
    }

    .testimonials__btn-prev {
        left: -15px;
    }

    .testimonials__btn-next {
        right: -15px;
    }

    .testimonial-item__img {
        max-width: 280px;
    }

    .contact-page__map {
        width: calc(100% + 30px);
        position: relative;
        left: -15px;
        height: 320px;
    }

    .btn {
        font-size: 1.5rem;
    }

    .privacy-checkbox .checkbox__name::before,
    .webpay-form__sale-checkbox .checkbox__name::before {
        top: -2px;
        margin: 0;
    }

    .privacy-checkbox .checkbox__name::after,
    .webpay-form__sale-checkbox .checkbox__name::after {
        top: 3px;
        margin: 0;
        transform: none;
    }

    .privacy-checkbox .checkbox__name,
    .webpay-form__sale-checkbox .checkbox__name {
        font-size: 1.2rem;
        line-height: 1.25;
    }

    .privacy-checkbox .checkbox__link,
    .webpay-form__sale-checkbox .checkbox__link {
        display: inline;
        font-size: 1.2rem;
        line-height: 1.25;
        border-bottom: 1px solid #E6E0EB;
    }

    .privacy-checkbox .checkbox__link::before,
    .webpay-form__sale-checkbox .checkbox__link::before {
        content: none;
    }

    .contact-page__title {
        margin-bottom: 25px;
    }

    .pages-template {
        padding-top: 0;
    }

    .category-template__wrapper {
        padding-top: 65px;
    }

    .webpay-form__btn {
        height: 6rem;
        font-size: 2rem;
        letter-spacing: -.03rem;
        font-weight: normal;
        width: 100%;
    }

    .course-template__wrapper {
        padding-top: 60px;
    }

    .course-info__item-name {
        font-size: 1.2rem;
        line-height: 1.25;
    }

    .course-info__item-link::before,
    .course-info__select::before {
        top: calc(100% + 1px);
    }

    .about-course__info p {
        font-size: 1.5rem;
        line-height: 1.33;
    }

    .blocker {
        padding: 40px 20px;
    }

    .form__textarea-btn {
        font-size: 1.5rem;
    }

    .personal-data-modal p,
    .personal-data-modal p a,
    .personal-data-modal ul li,
    .personal-data-modal ol li,
    .content-modal p,
    .content-modal p a,
    .content-modal ul li,
    .content-modal ol li {
        font-size: 1.5rem;
        line-height: 1.33;
    }

    .personal-data-modal ul,
    .personal-data-modal ol,
    .content-modal ul,
    .content-modal ol {
        padding-left: 20px;
    }

    .order-process__grid {
        flex-wrap: wrap;
    }

    .order-process__item {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 15px;
    }

    .order-process__item:last-child {
        margin-bottom: 0;
    }

    .order-process__item-text {
        margin: 0;
    }

    .order-process__item svg {
        display: none;
    }

    .breadcrumbs a {
        font-size: 1.1rem;
    }

    .course-gallery__btn-next {
        right: 15px;
    }

    .course-gallery__btn-prev {
        left: 15px;
    }

    .dropdown-course-info {
        width: 100%;
        margin-left: -50%;
    }

    .dropdown-course-info__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .dropdown-course-info__name {
        padding: 0;
        text-align: left;
    }

    .social__link {
        margin-right: 25px;
    }

    .social__link:last-child {
        margin-right: 0;
    }

    .course-btn {
        padding: 0 15px;
    }

    .course-btn_style-1 {
        font-size: 1.7rem;
    }

    .payment-form__select {
        height: auto;
    }

    .ums-select__list-item {
        padding: 12px 15px;
        font-size: 1.6rem;
    }

    .ums-select__btn {
        font-size: 1.6rem;
        height: 50px;
    }

    .about-page__numbers-item {
        padding: 0;
    }

    .page-navigation {
        overflow-y: auto;
        padding-bottom: 15px;
    }

    .pages-template__navigation {
        margin-bottom: 15px;
    }

    .page-navigation__link {
        white-space: nowrap;
    }

    .team__item-img {
        max-width: 120px;
        max-height: 120px;
    }

    .team__item-position {
        margin-top: 0;
        max-width: 90%;
        font-size: 1.4rem;
    }

    .email-help {
        padding: 35px 30px;
    }

    .lecturers-page__sort-btn {
        font-size: 1.5rem;
    }

    .template__test {
        padding-bottom: 120px;
    }

    .event-modal__icon {
        max-width: 80px;
        top: 50px;
    }

    .modal a.close-modal {
        transform: none;
    }

    .we__title {
        text-align: left;
        margin-bottom: 20px;
    }
    .section__text {
        text-align: left;
        margin-bottom: 45px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .student-info__img {
        max-width: 450px;
    }

    .student-info {
        top: auto;
        bottom: 0;
        right: 2%;
    }

    .testimonials__btn-next {
        left: calc(100% - 20px);
    }

    .testimonials__btn-prev {
        right: calc(100% - 20px);
    }
}

@media screen and (min-width: 992px) {
    .we__pagination {
        display: none;
    }
}

@media screen and (min-width: 1230px) {
    .course-list__header {
        padding-bottom: 15px;
        overflow-x: auto;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 415px) {
    .event-modal__icon {
        max-width: 60px;
        top: 15px;
    }

    .event-modal__title {
        font-size: 2.4rem;
        padding-right: 45px;
    }

    .event-modal__title span {
        font-size: 1.5rem;
    }

    .event-modal__desc {
        padding-right: 0;
    }

    .event-modal__details {
        margin-top: 30px;
    }

    .event-modal__details-item svg {
        max-width: 20px;
        max-height: 20px;
        margin-right: 5px;
    }
}