@media screen and (min-width: 1230px) {
    .template {
        &__test {
            padding-bottom: 0;
            position: absolute;
            width: 100%;
            left: 0;
            top: 50%;
            transform: translate3d(0, -50%, 0);
        }
    }
}

@media screen and (max-width: 1229px) {
    .template {
        &__test {
            padding-bottom: 160px;
        }
    }
}