// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
$font: 'Montserrat';
$base-font-size: 16px;
$base-path: '../';
//Colors
$white: #fff;
$dark: #211130;
$dark-100: #4D4357;
$dark-200: #3C2E49;
$gray-500: #665D5D;
$gray-200: #9D98A3;
$primary-100: #FCF0FF;
$primary-150: #F5F2F7;
$primary-200: #E6E0EB;
$secondary: #CC30CF;
$secondary-500: #AF3FFF;
$secondary-700: #8800FF;
$attention: #F10D0C;
//Font weight
$font-weight: (
    'normal': normal,
    'medium': 500,
    'bold': bold,
    'extra': 800
);
