.footer {
    background: image("footer.svg") no-repeat left center / cover;
    &__top {
        padding: 65px 0;
        padding-bottom: 60px;
    }
    &__bottom {
        text-align: right;
        padding: 20px 0;
        border-top: 1px solid rgba($white, .1);
    }
    &__social {
        margin-top: 20px;
    }
    &__text {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.3;
        color: rgba($white, .5);
        text-align: left;
    }
    &__link {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        font-size: 1.5rem;
        line-height: 1.3;
        color: rgba($white, .5);
        margin-right: 15px;
        &::before {
            top: calc(100% + 4px);
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__info {
        &-text {
            margin: 0;
            font-size: 1.2rem;
            line-height: 1.25;
            color: rgba($white, .7);
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        & img {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &-links {
            margin-bottom: 30px;
        }
        &-link {
            text-decoration: none;
            display: inline-block;
            vertical-align: baseline;
            font-size: 1.2rem;
            line-height: 1.25;
            color: rgba($white, .7);
            margin-right: 15px;
            &::before {
                top: calc(100% + 4px);
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__testimonials {
        margin-top: 30px;
    }
    &-menu {
        @include flex(row);
        &__col {
            @include flex(column);
            margin-right: 35px;
            &:last-child {
                margin-right: 0;
            }
        }
        &__item {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            &_visibility {
                &-hidden {
                    display: none;
                }
            }
        }
        &__link {
            display: inline-block;
            border-bottom: 1px solid rgba($white, .2);
            text-decoration: none;
            font-size: 1.5rem;
            line-height: 1.55;
            color: $white;
            &:hover {
                border-bottom-color: rgba($white, .4);
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1229px) {
    .footer-menu {
        justify-content: center;
    }
}