// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.is-locked {
    overflow: hidden;
}

.link {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background: rgba($white, .2);
        top: calc(100% + 5px);
        left: 0;
    }
    &:hover {
        &::before {
            background: rgba($white, .4);
        }
    }
    &:active {
        &::before {
            background: rgba($white, .6);
        }
    }
}