.blog-item {
    @include flex(column, stretch);
    height: 100%;
    background: $white;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 0 1px 1px 0 rgba($shadow, .1), 0 20px 20px 0 rgba($shadow, .1);
    &__img {
        margin-bottom: 20px;
        text-decoration: none;
        width: 100%;
        height: 260px;
        overflow: hidden;
        & img {
            border-radius: 3px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 1s ease;
        }
        &:hover {
            & img {
                transform: scale(1.05);
            }
        }
    }
    &__info {
        @include flex(column, stretch);
        flex: 1 1 auto;
        padding: 0 10px;
    }
    &__title {
        font-family: $font, sans-serif;
        margin-bottom: 13px;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.5;
        letter-spacing: -.01em;
        &:hover {
            opacity: .8;
        }
    }
    &__meta {
        @include flex(row, center, flex-start, wrap);
        margin-top: auto;
    }
    &__tag {
        @include flex(row, center, center);
        margin: 0;
        margin-right: 15px;
        margin-top: 5px;
        height: 30px;
        padding: 0 10px;
        font-size: 1.5rem;
        line-height: 1.3;
        border-radius: 5px;
        background: $primary-250;
        color: $primary-700;
        &:last-child {
            margin-right: 0;
        }
    }
    &__date {
        margin-top: 5px;
        font-size: 1.5rem;
        color: $gray-300;
        line-height: 1.3;
    }
}