.blog-item {
    @include flex(column, stretch);
    height: 100%;
    background: $white;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 25px;
    box-shadow: 0 5px 40px 0 rgba(65, 1, 121, 0.05), 0 1px 1px 0 rgba(65, 1, 121, 0.1);
    &__img {
        margin-bottom: 13px;
        text-decoration: none;
        width: 100%;
        height: 240px;
        & img {
            border-radius: 3px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__info {
        @include flex(column, stretch);
        flex: 1 1 auto;
        padding: 0 10px;
    }
    &__title {
        font-family: $font, sans-serif;
        margin-bottom: 12px;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 800;
        line-height: 1.5;
        letter-spacing: -.03rem;
        &:hover {
            opacity: .8;
        }
    }
    &__meta {
        @include flex(row, center, flex-start, wrap);
        margin-top: auto;
    }
    &__tag {
        @include flex(row, center, center);
        margin: 0;
        margin-right: 15px;
        margin-top: 10px;
        height: 30px;
        padding: 0 10px;
        font-size: 1.5rem;
        line-height: 1.3;
        border-radius: 5px;
        border: 1px solid $primary-200;
        &:last-child {
            margin-right: 0;
        }
    }
    &__date {
        margin: 0;
        font-size: 1.5rem;
        color: $gray-500;
        width: 100%;
    }
}