// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$font: 'Manrope', sans-serif;
$secondary-font: 'Arial', sans-serif;
$base-font-size: 16px;
$base-path: '../';

// Border radius
$border-radius: (
    'default': 10px,
    'video': 80px,
    'middle': 25px
);
$br-payment-method: 20px;
$br-erip-payment: 20px;
$br-payment-message: 10px;
$br-erip-installment: 5px;
$br-course-label: 5px;
$br-adavantages-img: 15px;
$br-course-info-select: 5px;
$br-course-info-wrapper: 15px;

// Buttons variables
$button-height: (
    'small': 30px,
    'medium': 50px,
    'large': 60px
);
$button-radius: (
    'default': 35px,
    'mobile': 15px
);

// GRADIENTS
$lg-primary: #3D9FF5;
$lg-secondary: #4C2AD5;

//Colors
$white: #fff;
$dark: #211130;
$dark-100: #434E57;
$dark-200: #3C2E49;
$gray-900: #112230;
$gray-700: #2E3C49;
$gray-600: #434E57;
$gray-500: #665D5D;
$gray-300: #5D6266;
$gray-200: #9D98A3;
$gray-100: #CCC6D1;
$gray-50: #E0E6EB;
$primary-50: #F0FBFF;
$primary-100: #F8F0FF;
$primary-150: #F2F5F7;
$primary-200: #E6E0EB;
$primary-250: #D2F3FE;
$primary-500: #2698FC;
$primary-600: #2698FC;
$primary-700: #1459B4;
$secondary: #CC30CF;
$secondary-100: #B7B3F2;
$secondary-200: #F2CCFF;
$secondary-500: #AF3FFF;
$secondary-700: #8800FF;
$attention: #F10D0C;
$brown: #743B03;
$green: #056D30;
$green-100: #13C42B;
$shadow: rgb(55, 61, 67);
$type: (
    'default': #E0E6EB,
    0: #D2F3FE,
    1: #E4FBDB,
    2: #FFF6AB
);
$type-text: (
    'default': #2E3C49,
    0: #1459B4,
    1: #26863F,
    2: #7A6615
);
$social: (
    'vk': #45668E,
    'fb': #3B5998,
    'tg': #0088CC,
    'tw': #1DA1F2
);

//Font weight
$font-weight: (
    'normal': normal,
    'medium': 500,
    'bold': bold,
    'extra': 800,
    'heavy': 900
);
